
.coin-info-container{
    padding-top: 0.5rem;

    .img-logo{
        width: 70%;
        height: auto;
    }

    .coin-title{
        font-size: 28px;
        font-weight: bold;
    }

    .abbreviation-chip{
        margin-top: 0.5rem;
    }

    .follow-button{
        margin-top: 0.5rem;
    }
    
}

